.leftSideDiv{
    padding: 2%;
}

.leftSideDiv p {
    font-size: 20px;
    margin-bottom: 3%;
}

.comboStrategies{
    -webkit-appearance: menulist-button;
    height: 35px;
    width: 50%;
    margin-bottom: 4%;
    font-size: 16px;
}

.usuarioTitle{
    display: inline-block;
}
.cerrarSesion{
    position: absolute;
    left: 10%;
}

.objectList{
    border: 2px solid grey;
  border-radius: 5px;
}