
.rightSideDiv{
    border: 4px dashed #000000f;
    width: 600px;
    height: 61%;
}

.rightSideDiv p{
    position: absolute;
    top:25%;
    width: 100%;
    height: 70%;
    text-align: center;
    line-height: 170px;
    color: #000000f;
    font-family: Arial;
    font-size: 23px;
}

.rightSideDiv input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    z-index: 1;
}

.rightSideDiv:hover {
    background: #8fa1f1;
    transition-delay: 0.2s; /* delays for 1 second */
-webkit-transition-delay: 0.2s; /* for Safari & Chrome */
}


.enviarButton{
    position: absolute;
    top: 105%;
    left: 85%;
    height: 12%;
    width: 12%;
}