@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

hr.rounded {
  position: relative;
  border: 0;
  height: 0; /* Firefox... */
  box-shadow: 0 0 10px 1px black;
  width: 90%;
  border-radius: 5px;
}

hr.rounded:after {
  content: "\00a0"; 
}

.loginForm {
  margin: 0 auto;
  margin-top: 4%;
  width: 15%;
  font-size: 18px;
}

.loginForm input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}




.leftSideDiv {
  display: inline-block;
  position: relative;
  left: 5%;
  margin-top: 3%;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rightSideDiv {
  display: inline-block;
  position: absolute;
  top: 15%;
  left: 45%;
  margin-top: 4%;
  width: 50%;
  height: 61%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader {
  position: absolute;
  top: 40%;
  left: 70%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}